$cor-primaria:#668b8e;
$cor-fundo:#c5d0d4;
$cor-bege:#f8ead5;

$wrapper-padding-top-bottom:2.625rem;
$wrapper-padding-left-right:4.6875rem;

$navbar-padding-top-bottom:1rem;
$navbar-link-padding:1.25rem;
$navbarTop:($wrapper-padding-top-bottom*2)+2rem;
$navbarHeight:($navbar-padding-top-bottom*2)+($navbar-link-padding*2)+1rem;

$sidemenu-largura:250px;
$sidemenu-link-padding:1.25rem;

$paginaTop:($wrapper-padding-top-bottom*2)+2rem;