.header{
	position: fixed;
	width: 100%;
	&__headline-wrapper{
		background-color: $cor-bege;
		display: flex;
		position: relative; 
	}

	&__h1{
		flex-grow: 96;
	}

	&__navbar-wrapper{
		width: 100%;
		position: absolute;
		left: 0;
		top:$navbarTop;
		background-color: #fff;
		text-align: center;
		padding-top: 0 !important;
		padding-bottom: 0 !important;
		height: 0;
		overflow: hidden;
		transition: all 1s
	}

	&__navbar-wrapper:hover,
	&__icon-bars:hover ~ &__navbar-wrapper{
			padding-top: $navbar-padding-top-bottom !important;
			padding-bottom: $navbar-padding-top-bottom !important;
			height: $navbarHeight;
	}

}