.navbar{
    flex-grow: 100;
    background: #ffffff;
    &__link{
        display: inline-block;
        padding:$navbar-link-padding;
        text-decoration: none;

    }

    &__link:hover{
        background: #eee;
    }
}