.sidemenu{
    position: fixed;
    width: 0;
    top: 0;
    height: 100%;
    overflow-x: hidden;
    transition: all 1s;
    background:#fff;
    padding-top: $sidemenu-link-padding;
    &__link{
        display: block;
        padding: 15px;
        text-decoration: none;
        width: $sidemenu-largura;
        text-align: center;        
    }
    &__link:hover{
        background: #eee;
    }
    &__width{
        width: $sidemenu-largura;
    }
}